{
    "cgroup-driver": "{{ cgroup_driver }}",
    "enable-cri": true,
    "cri-version": "v1alpha2",
    "log-driver": "json-file",
    "log-opt": {
      "max-size": "100m",
       "max-file": "3"
    }
}
