###
# kubernetes proxy config

# default config should be adequate

# Add your own!
KUBE_PROXY_ARGS="--bind-address={{ inventory_hostname }} \
                 --hostname-override={{ inventory_hostname }} \
		 --kubeconfig=/etc/kubernetes/kube-proxy.kubeconfig \
		 --cluster-cidr={{ pod_cidr }}"
