# https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg
[defaults]
log_path = logs/ansible.log

forks = 20
host_key_checking = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = facts
fact_caching_timeout = 600
nocows = 1
callback_whitelist = profile_tasks


# This is the default SSH timeout to use on connection attempts
timeout = 30

[ssh_connection]
# see: https://github.com/ansible/ansible/issues/11536
control_path = %(directory)s/%%h-%%r-%%p
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
pipelining = True

# Option to retry failed ssh executions if the failure is encountered in ssh itself
retries = 5
