{
  "exec-opts": [
    "native.cgroupdriver={{ cgroup_driver }}"
  ],
  "storage-driver": "overlay2",
  "insecure-registries": [
      "0.0.0.0/0"
  ],
  "log-driver": "json-file",
  "log-opts": {
      "max-size": "100m",
      "max-file": "3"
  }
}
