###
# The following values are used to configure the kubernetes controller-manager

# defaults from config and apiserver should be adequate

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS="--address=127.0.0.1 \
                              --service-cluster-ip-range={{ service_cluster_ip_range }} \
                              --cluster-name=kubernetes \
                              --cluster-signing-cert-file=/etc/kubernetes/tls/kubernetes/ca.pem \
                              --cluster-signing-key-file=/etc/kubernetes/tls/kubernetes/ca-key.pem \
                              --service-account-private-key-file=/etc/kubernetes/tls/kubernetes/ca-key.pem \
                              --root-ca-file=/etc/kubernetes/tls/kubernetes/ca.pem \
                              --leader-elect=true \
                              --cluster-cidr={{ pod_cidr }} \
                              --allocate-node-cidrs=true"
