apiVersion: v1
kind: calicoApiConfig
metadata:
spec:
   etcdEndpoints: https://{{ hostvars[groups['etcd'][0]]['inventory_hostname'] }}:2379
   etcdKeyFile: /var/tmp/calico/{{ calico_version.split('.')[:2] | join('.') }}/etcd-key
   etcdCertFile: /var/tmp/calico/{{ calico_version.split('.')[:2] | join('.') }}/etcd-cert
   etcdCACertFile: /var/tmp/calico/{{ calico_version.split('.')[:2] | join('.') }}/etcd-ca
